# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env
#.env.*

# Jupyter
.ipynb_checkpoints/

# Misc
*.sqlite3k8s/secret.yaml

.env
.venv/
.venv_deploy_test/
__pycache__/
*.pyc
.pytest_cache/
.DS_Store

k8s/secret.yaml